<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.BloggerApp">
    <application android:icon="@drawable/icon">
        <activity android:name=".BloggerApp" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="BlogEdit">
</activity><activity android:name="Atom_Feeds">
</activity><activity android:name="SingleFeed">
</activity><activity android:name="postEdit">
</activity></application>
</manifest> 