#welcome{
	text-align:center;
}

	#adminbookedit form{
		width:21em;
		font-family:"Times New Roman", Times, serif;
	}
	
	#adminbookedit .formrow{
		width:21em;
		margin-bottom:2px;
	}
	
	#adminbookedit .formtext{
		width:9em;
		display:inline-block;
	}
	
	#adminbookedit .forminput{
		width:12em;
		display:inline-block;
	}
	
	#adminbookedit .forminput input{
		width:13.6em;
	}
	
	#adminbookedit .formbutton{
		width:9em;
	}
	
	#adminbookedit textarea{
		height:6em;
	}


	#adminbookadd form{
		width:21em;
		font-family:"Times New Roman", Times, serif;
	}
	
	#adminbookadd .formrow{
		width:21em;
		margin-bottom:2px;
	}
	
	#adminbookadd .formtext{
		width:9em;
		display:inline-block;
	}
	
	#adminbookadd .forminput{
		width:12em;
		display:inline-block;
	}
	
	#adminbookadd .forminput input{
		width:13.6em;
	}
	
	#adminbookadd .formbutton{
		width:9em;
	}
	
	#adminbookadd textarea{
		height:6em;
	}
