#welcome{
	text-align:center;
}
	/*Admin Forms*/
	form{
		width:21em;
		font-family:"Times New Roman", Times, serif;
	}
	
	.formrow{
		width:21em;
		margin-bottom:2px;
	}
	
	.formtext{
		width:9em;
		display:inline-block;
	}
	
	.forminput{
		width:12em;
		display:inline-block;
	}
	
	.forminput input{
		width:13.6em;
	}
	
	.formbutton{
		width:9em;
	}
	
	textarea{
		height:6em;
	}
	
	/*Admin Search*/
	#search_table{
		font-size:xx-small;
	}

	.search_row_header, .search_row{
		
	}

	.search_image_header, .search_image{
		width:9em;
		display:inline-block;
		overflow:hidden;
	}

	.search_isbn_header, .search_isbn{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_title_header, .search_title{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_titleLong_header, .search_titleLong{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_authors_header, .search_authors{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_publisher_header, .search_publisher{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_noOfPages_header, .search_noOfPages{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_binding_header, .search_binding{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_ddc_header, .search_ddc{
		width:3em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_lcc_header, .search_lcc{
		width:3em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_description_header, .search_description{
		width:9em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_largeImg_header, .search_largeImg{
		width:6em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_mediumImg_header, .search_mediumImg{
		width:7em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_smallImg_header, .search_smallImg{
		width:5em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}

	.search_noOfCopies_header, .search_noOfCopies{
		width:6em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}
	
	.search_noOfCopies{
		text-align:center;
	}
	
	.search_edit_header, .search_edit{
		width:6em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}
	.search_delete_header, .search_delete{
		width:6em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}
	.search_deleteAll_header, .search_deleteAll{
		width:6em;
		height:1.5em;
		display:inline-block;
		overflow:hidden;
	}
